{
	tailscale {
		ephemeral true
	}
}

:8080 {
	handle_errors {
		root * /usr/share/caddy
		rewrite * /
		file_server {
			status 503
		}
	}

	reverse_proxy http://{$SCROLL_INTERNAL_IP} {
		transport tailscale scrollpi
	}
}
